
<%if defined?(address)&&!address.nil?
    @address=address
  end%>
<span>  <div class='well'>
<p>
  <span class="label label-primary">Location:</span> <br /> <br />
  <%if @address.postal_code != 0%>
  	<%= @address.postal_code %>, 
  <%end%>
  <%= @address.city %><br />
  <%= @address.country%>

</p>


</div>
</span>