
<%if defined?(address)&&!address.nil?
    @address=address
  end%>
<span>  <div class='well'>
<p>
  <span class="label label-primary">Location:</span> <%= @address.postal_code %>, <%= @address.city %>
</p>


</div>
</span>