<h1>Listing addresses</h1>

<table>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td> <%= render 'address' %> </td>
        <td><% if !current_user.nil?&&address.user_id==current_user.id %><%= link_to 'Edit', edit_address_path(address) %><%end%></td>
        <td><% if !current_user.nil?&&address.user_id==current_user.id %><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if !current_user.nil?%>
    <%= link_to 'New address', new_address_path %>
<%end%>
