
<%= bootstrap_form_tag(search_path, method: "get", :class=>"form-search", :role=>"search") do %>
    <div class="container-full">
      <div class="btn-group search-box">
      <%= text_field_tag(:q, "",:class=>"search-query form-control", :placeholder=>"Search",  :onkeydown=>"if (event.keyCode == 13) { this.form.submit(); return false; }") %>

        <select name="type">
          <option value="service">Service</option>
          <option value="organisation">Organisation</option>
          <option value="group">Group</option>
          <option value="user">User</option>
        </select>
        <%= submit_tag("Search", :class=>"btn btn-primary", :type=>"submit") %>
      </div>
<div id="more" style="">
  <span id="hide-options" class="btn btn-primary dropdown-toggle" style="display: inline;">Hide<span class="caret up-side-down"></span></span>

      <div id="typesCheckboxes" style="display: inline;">
        
        <label class="checkbox" for="offer_cbox" style="display: inline;">
         <input type="checkbox" checked value="" name="offer_cbox" id="offer_cbox" data-toggle="switch">
        Offers &nbsp
        </label>
        <label class="checkbox" for="demand_cbox" style="display: inline;">
          <input type="checkbox" checked value="" name="demand_cbox" id="demand_cbox" data-toggle="switch">
          Demands
        </label>
         <label class="checkbox" style="display: inline;">
            <input type="checkbox" name="q_order_end" > Order by date
          </label>
      </div>

      
      
         
      </div>
    </div>

<% end %>

