
<%= form_tag(search_path, method: "get", :class=>"form-search", :role=>"search") do %>
    <div class="container-full">
      <form class="form-search">
      <%= text_field_tag(:q, "",:class=>"search-query form-control", :placeholder=>"Search") %>
      <div class="input-group-btn"><%= submit_tag("Search", :class=>"btn") %></div>
    
    </form>
      <div id="typesCheckboxes" >
        
          <input type="checkbox" checked="checked" name="offer_cbox" id="offer_cbox"/> 
          <label>Offers &nbsp </label>
        
          <input type="checkbox" checked="checked" name="demand_cbox" id="demand_cbox"/> 
          <label>Demands</label>
      </div>


      <p id="show_option">More options</p>
      <div id="more" style="">
          <label class="checkbox">
            <input type="checkbox" name="q_order_end"> Order by date
          </label>
      </div>
    </div>

<% end %>
<script>
    $(document).ready(function(){
        $("#more").toggle();
    });
</script>
