
<%= form_tag(search_path, method: "get", :class=>"form-search", :role=>"search") do %>
    <div class="container-full">
      <div class="btn-group">
      <%= text_field_tag(:q, "",:class=>"search-query form-control", :placeholder=>"Search") %>
      <%= submit_tag("Search", :class=>"btn btn-primary") %>
      </div>
      <div id="typesCheckboxes" >
        
        <label class="checkbox" for="offer_cbox">
  <input type="checkbox" value="" id="offer_cbox" data-toggle="checkbox">
  Offers &nbsp
</label>
<label class="checkbox" for="demand_cbox">
  <input type="checkbox" value="" name="demand_cbox" id="demand_cbox" data-toggle="checkbox">
  Demands
</label>
      </div>

      <p id="show_option">More options</p>
      <div id="more" style="">
          <label class="checkbox">
            <input type="checkbox" name="q_order_end"> Order by date
          </label>
      </div>
    </div>

<% end %>
<script>
    $(document).ready(function(){
        $("#more").toggle();
    });
</script>
