<% organisations.each_with_index do |organisation| %>

  <div class="row service-parent">
    <% @organisation = organisation %>
    <%= render 'organisation', :organisation => @organisation %>

  </div>
<% end %>