<% if @groups.nil? or @groups.size == 0 %>
  <div class="container">
          No results
  </div>
<% else %>

  <% @groups.each_with_index do |group| %>

    <div class="row service-parent">
      <% @group = group %>
      <%= render 'group', :group => @group %>

    </div>
  <% end %>
<% end %>