<div class="col-md-9 service-cont">
          <div class="row">
            <div class="btn-toolbar col-md-2 col-md-offset-10">
              <div class="btn-group">
                <a class="btn" id="list" ><i class="glyphicon glyphicon-list"></i></a>
                <a class="btn" id="grid" ><i class="icon-grid"></i></a>
              </div>
            </div>
          </div>

          <% if @groups.nil? or @groups.size == 0 %>
          No results
          <% else %>
            <div class="groups">
              <%@groups.each do |group|%>
                <%= group.name %>
              <% end %>
            </div>
          <% end %>
        </div>