<h3>Authenticate your account</h3>

<p><%= button_to "Authenticate", authenticate_path %></p>

<script src="https://www.java.com/js/deployJava.js"></script>
    <script>
        var attributes = {
            code :'be.fedict.eid.applet.Applet.class',
            archive :'eid-applet-package.jar',
            width :400,
            height :300
        };
        var parameters = {
            TargetPage :'javascript:alert("Hello World");',
            AppletService : 'applet-service',
            BackgroundColor : '#ffffff'
        };
        var version = '1.6';
        deployJava.runApplet(attributes, parameters, version);
    </script> 
