/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-datepicker
 *= require flat-ui
 *= require_self
 *= require scaffolds
 *= require header
 *= require group
 *= require services
 */
body {
    background-color : black;
    color : blue;
}

.full-width-header {
	width: 100%;
	margin-bottom: 30px;
	padding: 10px 30px 10px 30px;
	background-color: #777777;
	color:white;
	z-index: 1000;
}

.sticker-active .full-width-header {
	width: 100%
}
.full-width-header .search-query {
	margin-top: 30px;
}

h2 {
	width: 100%;
	background-color: #E1E1E1;
	padding: 25px;
	color:#777777;
	border-radius: 10px;
	font-size: 37px;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.dropdown-menu
{
	background-clip: padding-box;
	background-color: white;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	display: none;
	float: left;
	font-size: 14px;
	left: 0;
	list-style: none;
	margin: 2px 0 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	top: 100%;
	webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	z-index: 1000;
}

button.dropdown-toggle {
	color: rgba(52, 73, 94, 0.74902);
}

/* workaround flat-ui */
.datepicker {
  visibility: visible;
  opacity: 1;
  width: auto;
}


.avatar-box  {
	display: inline-block;
	width: 61px;
	height: 61px;
}

.avatar-box.medium  {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin-right: 5px;
}

.up-side-down {
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
}

.avatar {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-moz-box-shadow: 1px 1px 5px 2px #c0c0c0;
	-webkit-box-shadow: 1px 1px 5px 2px #c0c0c0;
	-o-box-shadow: 1px 1px 5px 2px #c0c0c0;
	box-shadow: 1px 1px 5px 2px #c0c0c0;
}

.navbar .nav > li.dropdown.open {
	background-color: #AE5882;
	
}
.navbar .nav li.dropdown.open > a {
	color:#FFFFFF !important;
}

.notif {
	vertical-align: middle;
	position:absolute;
	padding:20px;
}

footer {
	margin-top: 30px;
	height: 300px;
	background: -moz-linear-gradient(top, #FFFFFF 34%, #E6E6E6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#FFFFFF), color-stop(100%,#E6E6E6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFFFF 34%,#E6E6E6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFFFF 34%,#E6E6E6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFFFF 34%,#E6E6E6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFFFFF 34%,#E6E6E6 100%); /* W3C */
	padding: 150px 0px 0px 200px;
}
