body.active_admin span.icon svg {
    width: 0.8em;
    height: 0.8em;
}

#typesCheckboxes {
    margin-top: 10px;
}

.container-full {
    
    margin: 0 auto;
    width: 100%;
}

#q {
	width: 70%;
    float: left;
}

.search-box {
    width: 100%;
}

.jumbotron {
    /*background: url("http://www.voyageurs-du-temps.fr/images/sites/afrique/enfants-africains-cours-de-recreation.jpg") no-repeat;
    /*background: url("images/bg.png") no-repeat;*/
    padding: 0px;
    background: -moz-linear-gradient(top, #E6E6E6 34%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#E6E6E6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #E6E6E6 34%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #E6E6E6 34%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #E6E6E6 34%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #E6E6E6 34%,#ffffff 100%); /* W3C */
}
