
<h4>Followers</h4>
<% if @followers_list.nil? %>
  <% @followers_list = Follower.where(:service_id => @service.id) %>
<% end %>
<% if @followers_list.empty? %>
  No Followers
<%else%>
  <% @followers_list.each do |follower| %>
    <% user = follower.user %>
    <% user_full_name = " " + user.firstname + " " + user.name %>
    <%= link_to user_full_name, show_profile_path(user) %><br />
  <%end%>
<%end%>
