

<% @service=service%>

<div class="well well-sm service min">
  <a class="pull-right" href="#">
     <%= image_tag service.photo.url(:thumb) %>
  </a>
  <span><h5><%= link_to service.title, service, :class=>"label label-primary" %></h5></span>
  
  <p class="service-desc min">Description: <%= service.description %></p>

  <br />
</div>


