<% @share_link = "https://solidare.herokuapp.com"+service_path(@service) %>


<div class="fb-share-button" data-href="<%=@share_link%>" data-type="button_count">Share on facebook</div>
<a href="<%=@share_link%>" class="twitter-share-button" data-lang="en">Tweet</a>

<div class="g-plus" data-action="share" data-annotation="bubble" data-href="<%=@share_link%>">Share on Google + </div>

<script src="//platform.linkedin.com/in.js" type="text/javascript">
 lang: en_US
</script>
<script type="IN/Share" data-url="<%=@share_link%>" data-counter="right"></script>
