<h3 class="full-width-header">My following services</h3>
<br /><br />

<% if @following.nil? ||@following.length==0 %>
	You don't follow any services.
<%else%>
	You follow thoses services :
	<%= render 'following_services', :following => @following %>
<%end%>
