<div class="container">
<div class="feedback_panel">
<%=bootstrap_form_for(@transaction,method: 'post', :url=>create_transaction_path(@service)) do |f| %>


    <h6 ><%= f.text_field :feedback_evaluation%></h6>
    <div id="slider"></div>
    <%= f.text_area :feedback_comments, :class=> 'form-control' %>
      <%= f.submit "Give your feedback",:class =>"btn btn-primary" %>

      <script>
  $(function() {
    $( "#slider" ).slider(
    	{
    		value:0,
      		min: -3,
      		max: 3,
      		step: 0.5,
      		slide: function( event, ui ) {
        		$( "#transaction_feedback_evaluation").val(ui.value );
      		}
    	});
    $( "#transaction_feedback_evaluation" ).attr('readonly', true);
    $( "#transaction_feedback_evaluation" ).val($( "#slider" ).slider( "value" ) );
  });
  </script>
<% end %>
</div>

</div>

