<div class="container">
	<h1>Editing organisation</h1>

<%= render 'form' %>

<span><%= link_to 'Show', @organisation, :class=>"btn btn-default "%></span>

<span><%= link_to 'Back', organisations_path, :class=>"btn btn-default" %></span>
</div>