<div class="container">
<h2><span class="label label-success">New managed user</span></h2>

<%= render 'form_managed', :type=>"new" %>

<%= link_to 'Back', mainmenu_organisations_path(:org_id), :class=>"btn btn-info" %>
</div>
